
# 定义git server的host
# 格式为： tag=hostname:port
# tag: 需要在config/下有 tag.repo 的记录文件
# hostname: git server的hostname
[hosts]
gitee=gitee.com
github=github.com
#gitlab=gitlab.com 
#example=xhoehub.com:8443

# 需要刷新的目录
# ;开头：会被忽略掉
# 目录必须用；去设置忽略！
[cates]
jenkins
ansible
spring
shell
k8s
java-app
go
ai
jpa
ddd
java
unknown
java-suite
spider
dromara
secure
devops
open-hand
aws



[origin]
jenkins
cloud
ansible
spring
shell
k8s
java-app
go
rust
ai
jpa
ddd
ja-netfilter
java
unknown
java-suite
spider
dromara
secure
devops
open-hand
aws
