
# 定义git server的host
# 格式为： tag=hostname:port
# tag: 需要在config/下有 tag.repo 的记录文件
# hostname: git server的hostname
[hosts]
gitee=gitee.com
github=github.com
#gitlab=gitlab.com 
#example=xhoehub.com:8443

# 需要刷新的目录
# ;开头：会被忽略掉
# 目录必须用；去设置忽略！
[cates]
jenkins
cloud
ansible
spring
shell
java-app
jpa
go
ddd
ja-netfilter
jkjk
java
ddd
spring-starter
unknown
java-suite
spring-projects
spring-mvc
spring-boot-cloud
spider
dromara
secure



[origin]
jenkins
cloud
ansible
ja-netfilter
spring
shell
java-app
jpa
go
ddd
jkjk
java
ddd
spring-starter
unknown
java-suite
spring-projects
spring-mvc
spring-boot-cloud
spider
dromara
secure
